/* ------------------------------------------------anidacion-------------------------------------------- */
.footmenu {
    padding-left: 0;
    margin-top: 5rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    li a {
      color: $color-primario;
    }
  }    
  /* ------------------------------------------------anidacion-------------------------------------------- */
  .footcontact {
    padding-left: 0;
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
  
    img {
      width: 20px;
    }
  }
  /* ------------------------------------------------anidacion-------------------------------------------- */

  .copyright{
    color: $color-primario;
  }


  
