* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Poppins', sans-serif;
  }
  
  .welcome{
    margin-top: 2rem;
    text-align: center;
  }

  .highlight{
    @extend .welcome;
    background-color: black;
  }
  
  #carousel2 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .carousel-border {
    border: 2px solid #5c5c5c;
    background-color: #b6b6b6;
    padding: 10px
  }
  
  .carousel-img {
    height: 700px;
    width: 400px;
  }

  .destacados{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    padding: 20px;
    grid-gap: 40px;
}


img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
