/* ------------------------------------------------anidacion-------------------------------------------- */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  transition: all 1s;
  

  &:hover {
    transform: scale(1.0) translateY(-10px);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .card-img-top {
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 40px;
  }

  .card-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}
/* ------------------------------------------------anidacion-------------------------------------------- */

.info {
  padding-top: 2rem;
  text-align: center;
}

/* ------------------------------------------------extend-------------------------------------------- */
.info-colchon {
@extend .info
}
