@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;

    li {
      padding-top: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .destacados {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .flyer img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    position: fixed;
    bottom: 0;
  }

  .footmenu {
    margin-top: 2rem;
    justify-content: center;
    gap: 1rem;
  }

  .footcontact {
    margin-top: 1rem;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 576px) {
  .footmenu {
    flex-direction: column;
    align-items: center;
  }

  .footcontact {
    flex-direction: column;
    align-items: center;
  }
}




